
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">EMPLOYEE MANAGEMENT</a>
  <% if(isLoggedIn){ %>
  <form action="/auth/logout" method="GET" class="form-inline mb-0">
    <input class="btn btn-primary btn-block my-2 my-sm-0" type="submit" value="logout">
    </input>
  </form>
  <%}%>
</nav>
